@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-barlow-regular);
}

.barlow-bold {
  font-family: var(--font-barlow-bold);
}

.barlow-extrabold {
  font-family: var(--font-barlow-extrabold);
}

.barlow-medium {
  font-family: var(--font-barlow-medium);
}

.barlow-semibold {
  font-family: var(--font-barlow-semibold);
}

.scroll-topi {
  scroll-margin-top: 4rem;
}
